h1 { /*Селекторы*/
    text-align: right;
    color: orange;
}
h1 + p { /*1й абзац*/
    text-align: left;
}
p + p { /*2й абзац*/
    text-align: left;
}
p em { /*Зеленые слова в абзацах*/
    background-color: green;
    color: white;
}
p:first-letter { /*Красная строка у обзацев через псевдо*/
    font-size: 30px;
    color: red;
}
p + h2 {
    color: orange; /*Огород*/
}
ul + h2 {
    color: blue; /*Склад*/
}
span {
    font-weight: bold; /*Немаркированный список жирным*/
}
.red {
    color: red;
}
.gray {
    color: gray;
}
.green {
    color: green;
}
tr {
    background-color: darkgreen; /*все строки с зеленым фоном*/
    color: white; /*все строки с белым цветом шрифта*/
    text-align: center; /*все строки с расположением текста по центру*/
}
tr:nth-child(-n+2) { /* 1 и 2 строка таблицы*/
    font-weight: bold;
    text-align: center;
    background-color: white;
    color: black;
}
tr:nth-child(3) td:nth-child(1), /*1,2,3 строки первого столбца*/
tr:nth-child(4) td:nth-child(1),
tr:nth-child(5) td:nth-child(1) {
    color: orange;
    background-color: white;
    text-align: left;
    font-weight: bold;
}

table {
    width: 400px; /*ширина таблицы*/
    border: solid 1px; /*толщина и тип рамки вокруг таблицы*/
}
td, tr {
    padding: 2px; /*расстояние от текста до краев ячейки*/
    border: 1px solid black; /*толщина и тип рамки вокруг ячеек*/
}
.container {
    width: 40%;
    height: 40%;
}